section {
    padding: 100px 160px;
}

#review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 40px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    width: 500px;
    height: 550px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    margin: 0px 30px 70px 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: var(--text-color);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: var(--white-color);
    font-size: 0.8rem;
}

.rating img {
    width: 17.6px;
    height: 17.6px;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment {
    margin-top: 10px;
}

.comment p {
    font-size: 0.9rem;
    color: var(--text-color);
}

.box:hover {
    transform: translateY(-10px);
    transition: all ease .3s;
    box-shadow: 2px 2px 30px rgba(169, 167, 255, 0.8);
}

.comment img {
    width: 100%;
    max-height: 300px;
    width: auto;
    margin-top: 10px;
}

.model {
    margin-top: 10px;
    padding-bottom: 10px;
}

.model p {
    color: #A9A9A9;
    font-size: .8rem;
    font-weight: 400;
}

/* go back button */

.goback {
    text-align: center;
    padding-top: 90px;
}

.goback .btn {
    font-size: 1.25rem;
    padding: 20px 40px;
    background: transparent;
    border: none;
    color: var(--text-color);
    position: relative;
    transition: background 0.4s;
    cursor: pointer;
    box-shadow: 0.4s, color 0.4s;
    transition-delay: 0s;
}

.btn::after{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    transition: width 0.4s, height 0.4s;
    transition-delay: 0.4s;
}

.btn::before{
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    transition: width 0.4s, height 0.4s;
    transition-delay: 0.4s;
}

.btn:hover::after,
.btn:hover::before{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.btn:hover{
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 0 0 20px var(--main-color);
    transition-delay: 0.4s;
}