:root {
    --main-color: #8253ff;
    --major-color: #261a73;
    --white-color: #dcd2ff;
    --text-color: #fbfbfb;
    --bg-color: #23222a;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}